<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" src="/pages/useredit.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

</head>

<body>
    <div className="grid">
        <form>
            <label for="username">Username</label>
            <input type="text" placeholder="username" name="username" id="username">

            <label for="password">Password</label>
            <input type="password" value="password" name="password" id="password">


        </form>
        <form>

            <label for="Street">Street</label>
            <input type="text" placeholder="Street" name="Street" id="Street">

            <label for="City">City</label>
            <input type="City" placeholder="City" name="City" id="City">


        </form>
        <form>
            <label for="Birth-Day">Birth-Day</label>
            <input type="text" placeholder="Birth-Day" name="Birth-Day" id="Birth-Day">

            <label for="Language">Language</label>
            <input type="Language" placeholder="Language" name="Language" id="Language">

            <input type="submit" value="Save">
        </form>

    </div>
</body>

</html>